In [1]:
data = [
    {
        "name": "pawel",
        "age": 39,
        "city": "krakow",
        "hobbies": ["js", "python", "drugs"]
    },
    {
        "name": "kamil",
        "age": 28,
        "city": "gryfino",
        "hobbies": ["js", "python", "godot"]
    },
    {
        "name": "szymon",
        "age": 30,
        "city": "legnica",
        "hobbies": ["crypto", "work"]
    },
    {
        "name": "mateusz",
        "age": 30,
        "city": "wroclaw",
        "hobbies": ["bjj", "coding", "movies"]
    },
    {
        'name': 'piotr',
        'age': 34,
        'city': 'warszawa',
        'hobbies': ['climbing', 'running', 'python']
    },
    {
        'name': 'dawid',
        'age': 36,
        'city': 'torun',
        'hobbies': ['boardgames', 'football', 'squash']
    },
    {
        "name": "aleksandra",
        "age": 29,
        "city": "poznan",
        "hobbies": ["music", "art", "math"]
    },
    {
        "name": "renata",
        "age": 29,
        "city": "sosnowiec",
        "hobbies": ["photography", "literature", "trips"]
    },
    {
        'name': "lukasz",
        'age': 37,
        'city': 'brwinow',
        'hobbies': ['Cycling', 'Home Beer brewing', 'Learning new things'],
    },
    {
        "name": "bartek",
        "age": 47,
        "city": "warszawa",
        "hobbies": ["gry", "muzyka", "filmy"]
    },
    {
        "name": "igor",
        "age": 31,
        "city": "wroclaw",
        "hobbies": ["anime", "mangi", "gry"]
    },
    {
        "name": "magda",
        "age": 31,
        "city": "torun",
        "hobbies": ["books", "jogging", "plants"]
    },
    {
        "name": "karol",
        "age": 38,
        "city": "warszawa",
        "hobbies": ["sport", "music", "culinary"]
    },
    {
        "name": "pawel",
        "age": 33,
        "city": "poznan",
        "hobbies": ["music", "traveling", "photography"]
    }
]

In [2]:
len(data)

14

Policz średnią wieku

In [3]:
def avg_age(dataset):
    total_age = 0

    for person in dataset:
        total_age += person["age"]

    return total_age / len(dataset)

In [4]:
avg_age(data)

33.714285714285715

In [7]:
def avg_age_2(dataset):
    return sum(person["age"] for person in dataset) / len(dataset)

In [8]:
avg_age_2(data)

33.714285714285715

In [9]:
def avg_age_3(dataset):
    return sum(map(lambda person: person["age"], dataset)) / len(dataset)

In [10]:
avg_age_3(data)

33.714285714285715

Policz średnią wieku ludzi spoza warszawy

In [28]:
def avg_age_outside_waw(dataset):
    total_age = 0
    counter = 0

    for person in dataset:
        if person["city"].lower() != 'warszawa':
            total_age += person["age"]
            counter += 1

    return total_age / counter

In [29]:
avg_age_outside_waw(data)

32.09090909090909

In [34]:
def avg_age_outside_waw_2(dataset):
    ages = [person["age"] for person in dataset if person["city"].lower() != "warszawa"]
    return sum(ages) / len(ages)

In [35]:
avg_age_outside_waw_2(data)

32.09090909090909

In [36]:
def avg_age_outside_waw_3(dataset):
    ages = list(filter(lambda person: person["city"].lower() != "warszawa", dataset))
    return sum(map(lambda person: person["age"], ages)) / len(ages)

In [37]:
avg_age_outside_waw_3(data)

32.09090909090909

Zwróc imiona osób, które są z wawrszawy

In [38]:
def show_names(people):
    names = []

    for person in people:
        if person['city'].lower() == 'warszawa':
            names.append(person['name'])

    return names

In [39]:
show_names(data)

['piotr', 'bartek', 'karol']

In [41]:
def show_names_2(people):
    return [person['name'] for person in people if person['city'].lower() == 'warszawa']

In [42]:
show_names_2(data)

['piotr', 'bartek', 'karol']

In [43]:
def show_names_3(people):
    return list(map(
        lambda person: person['name'],
        filter(lambda person: person['city'].lower() == 'warszawa', people)
    ))

In [44]:
show_names_3(data)

['piotr', 'bartek', 'karol']

Sprawdź czy przynajmniej jedna osoba jest staruchem (staruch > 35 lat)

In [47]:
def is_olden_people(people):
    for person in people:
        if person['age'] > 35:
            return True

    return False

In [48]:
is_olden_people(data)

True

In [50]:
def is_olden_people_2(people):
    return bool([person for person in people if person['age'] > 35])

In [51]:
is_olden_people_2(data)

True

In [52]:
def is_olden_people_3(people):
    return any(map(lambda person: person['age'] > 35, people))

In [53]:
is_olden_people_3(data)

True

Czy wszyscy są młodzi (młody człowiek to taki przed 20)

In [54]:

def magic():
    for element in data:
        if element['age'] > 20:
            return False
    return True

In [55]:
magic()

False

In [56]:
def magic():
    return all(map(lambda person: person['age'] < 20, data))

In [57]:
magic()

False

Ile jest unikalnych hobby

In [76]:
def magic():
    all_hobbies = set()

    for item in data:
        all_hobbies |= set(item["hobbies"])

    return all_hobbies

In [77]:
magic()

{'Cycling',
 'Home Beer brewing',
 'Learning new things',
 'anime',
 'art',
 'bjj',
 'boardgames',
 'books',
 'climbing',
 'coding',
 'crypto',
 'culinary',
 'drugs',
 'filmy',
 'football',
 'godot',
 'gry',
 'jogging',
 'js',
 'literature',
 'mangi',
 'math',
 'movies',
 'music',
 'muzyka',
 'photography',
 'plants',
 'python',
 'running',
 'sport',
 'squash',
 'traveling',
 'trips',
 'work'}

In [89]:
def magic():
    return {hobby for person in data for hobby in person['hobbies']}

In [90]:
magic()

{'Cycling',
 'Home Beer brewing',
 'Learning new things',
 'anime',
 'art',
 'bjj',
 'boardgames',
 'books',
 'climbing',
 'coding',
 'crypto',
 'culinary',
 'drugs',
 'filmy',
 'football',
 'godot',
 'gry',
 'jogging',
 'js',
 'literature',
 'mangi',
 'math',
 'movies',
 'music',
 'muzyka',
 'photography',
 'plants',
 'python',
 'running',
 'sport',
 'squash',
 'traveling',
 'trips',
 'work'}

In [91]:
from functools import reduce

In [95]:
reduce(lambda acc, ce: acc | set(ce['hobbies']), data, set())

{'Cycling',
 'Home Beer brewing',
 'Learning new things',
 'anime',
 'art',
 'bjj',
 'boardgames',
 'books',
 'climbing',
 'coding',
 'crypto',
 'culinary',
 'drugs',
 'filmy',
 'football',
 'godot',
 'gry',
 'jogging',
 'js',
 'literature',
 'mangi',
 'math',
 'movies',
 'music',
 'muzyka',
 'photography',
 'plants',
 'python',
 'running',
 'sport',
 'squash',
 'traveling',
 'trips',
 'work'}

In [96]:
x = [1, 2, 3, 4]

In [97]:
reduce(lambda acc, ce: acc + ce, x, 10)

10

Napisz dataset (minimum 2 poziomy) na temat, który kochasz, i napisz do niego 3 pytania. Wyślij na slacku, pozostałe osoby mają 24h na zrobienie. Tylko jedna osoba dziennie może wysłać dataset, i nie może być przerw. 10 dni styka, aby być ekspertem.

In [102]:
print("\n".join([f'{idx}. {person['name'].title()}' for idx, person in enumerate(data)][1:]))

1. Kamil
2. Szymon
3. Mateusz
4. Piotr
5. Dawid
6. Aleksandra
7. Renata
8. Lukasz
9. Bartek
10. Igor
11. Magda
12. Karol
13. Pawel